@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');
*, ::before, ::after {
    font-family: Arial;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

:root {
    /* Colors--Navbar */
    --color1: #eecda3;
    --color2: #ef629f;
    --color3: #4dc8cc;
    --textColor: #014263;
    /* Normal--Colors */
    --White: white;
    --black: black;
    /* Font Sizes */
    --fS1: 14px;
    --fS2: 18px;
    --fS3: 22px;
    --fS4: 28px;
    --fS5: 36px;
    --fS6: 40px;
    /* Margins */
}

:root {
    --primaryColor: #F4F4F4;
    --secondaryColor: #DFDFDF;
    --Orange: orange;
    --LightOrange: rgb(252, 227, 182);
    --White: #ffffff;
    --Black: #282C35;
    --LightGray: #CBCBCB;
    /*  */
    --font1: 'Kiwi Maru', serif;
    --font2: 'Poppins', sans-serif;
    --font3: 'Hind', sans-serif;
}